body{
    margin: 0;
}

main{
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: contain;
    background-position: center;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 0 2em;
}

#logo_container{
    padding-left: 2em;
}

#main_heading{
    color: white;
    margin-top: 4em;
    margin-bottom: 1.5em;
}

#arrow{
    height: 4em;
}