body{
    margin: 0;
    font-family: Barlow, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1, h2, h3, h4{
    font-family: Fraunces;
    font-weight: 700;
}

main{
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

nav ul{
    display: flex;
}

nav li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 0 2em;
}

#logo_container{
    padding-left: 2em;
}

#main_heading{
    color: white;
    font-weight: 900;
    margin-top: 1.5em;
    margin-bottom: 2em;
    letter-spacing: 0.3em;
}

#arrow{
    height: 4em;
}